# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore compiled code
*.so
*.o
*.a
*.pyc
*.pyo
